*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: greenyellow;
}
section{
    border-radius: 1rem;
    background: cyan;
    border: 2pt black solid;
    margin: 1rem;
    display: flex;
    padding: 1rem;

}

article{
    border-radius: 2.5rem;
    border: brown 2pt solid;
    background: pink;
    flex-direction: row;
    padding: 1rem;
    margin: .25rem;
    color: green;
}

h2{
    color: blue;
    font-size: 20pt;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: end;
}

.flex-center{
    justify-content: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-space-evenly{
    justify-content: space-evenly;
}

.flex-dir-row{
    flex-direction: row;
}

.flex-dir-row-rev{
    flex-direction: row-reverse;
}

.flex-dir-col{
    flex-direction: column;
}

.flex-dir-col-rev{
    flex-direction: column-reverse;
}

.h2{
    color: darkgreen;
    font-size: 25pt;
}
div{
    h1{
        color: brown;
    }
}